.footer {
    background-color: var(--bs-primary);
    color: rgba(19, 19, 18, 0.725);
    padding: 20px 0;
  }

  .footer-title {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .footer-text {
    font-size: 14px;
  }

  .footer-nav {
    list-style: none;
  }

  .footer-nav .nav-link {
    color: rgba(19, 19, 18, 0.725);;
    font-size: 14px;
    transition: color 0.3s;
  }

  .footer-nav .nav-link:hover {
    color: #ffc107;
  }

  .footer-icons {
    display: flex;
    align-items: center;
  }

  .footer-icon {
    color: white;
    font-size: 20px;
    margin-right: 10px;
    transition: color 0.3s;
  }

  .footer-icon:hover {
    color: #ffc107;
  }

  .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-copy {
    font-size: 12px;
  }
